{% extends 'eods/base.html' %}

{% block content %}
{% if validlink %}

<style>
    .container {
        padding-top: 100px;
    }

    h3 {
        margin-bottom: 30px;
    }

    ul {
        /* list-style: none; */
        list-style-type: none;
    }

    .confirm {
        display: flex;
    }

    .pass2 {
        margin-left: 20px;
    }
</style>

<div class="container">
    <div class="row ">
        <div class="col-md-12">

            <h3>Change password</h3>
            <form method="post">
                {% csrf_token %}
                <div class="confirm">

                    <p>New Password: {{ form.new_password1 }}</p>
                    <p class="pass2">Confirm Password: {{form.new_password2}}</p>
                </div>

                <ul>
                    <li>Cannot be too similar to your other personal information</li>
                    <li>Password cannot be to common</li>
                    <li>Cannot be entirely numeric</li>
                    <li>Must be eight characters long</li>
                </ul>
                <button type="submit" class="btn btn-primary">Change password</button>
            </form>
            {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}