{% extends "eods/base.html" %}


{% block header %}


{% endblock header %}

{% block content %}

<style>
    .reset-container {
        padding-top: 100px;
    }

    #id_email {
        margin-top: 20px;
        width: 30%;
    }
</style>


<div class="container reset-container">
    <div class="row text-center">
        <div class="col-md-12">
            <h4>Forgot Password?</h4>
            <h5>Enter your email address that you login with:</h5>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}