{% extends 'eods/base.html' %} {% block header %} {% endblock header %}
{% block content %}
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 5px;
    text-align: center;
  }

  .edit-header {
    margin-top: 40px;
  }



  .accounting {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .accounting h4 {
    margin: 0 auto;
    color: red;
  }



  .email-link {
    margin-top: 20px;
    background-color: silver;
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 5px;
  }

  .back-link {
    display: inline-block;
    background-color: royalblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
  }

  .back-link:hover {
    text-decoration: none;
    opacity: .9;
    color: white;
  }
</style>

{% if request.user.is_admin %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p style="float: left;"><a href="{% url 'eods:view_lead' office.id%}">Back</a></p>
      <p style="float: right;"><a href="/{{office.id}}/view_lead/{{leadsheet.id}}">Delete</a></p>
    </div>
  </div>
</div>
<div class="create-form">
  <div class="container-fluid edit-header text-center">
    <h1 style="color: #0b88ff;">{{office}}</h1>
    <p>Edit Leadsheet:</p>
    {% if form.errors%}
    <p style="color: red;">{{form.errors}}</p>
    {%endif%}
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <form action="/{{office.id}}/{{leadsheet.id}}" method="post">
          {% csrf_token %}
          <p>Date: {{form.date_added}}</p>
      </div>
    </div>
  </div>
  <br>
  <br>


  <div class="container">
    <div class="row text-right">
      <div class="col-md-2"></div>

      <div class="col-md-4 input-container1">
        <p><span class="labels">Cash:</span> {{form.cash}} {{form.cash_deposited}}</p>
        <p><span class="labels">Electronic Chks:</span> {{form.electronic_checks}} {{form.electronic_checks_deposited}}
        </p>
        <p><span class="labels">PNC Deposit:</span>{{form.pnc_deposit}} {{form.pnc_deposit_deposited}}</p>
        <p><span class="labels">Checks:</span>{{form.checks}} {{form.checks_deposited}}</p>
        <p><span class="labels">CC Amex:</span>{{form.cc_amex}} {{form.cc_amex_deposited}}</p>
        <p><span class="labels">CC Discover:</span>{{form.cc_discover}} {{form.cc_discover_deposited}}</p>
        <p><span class="labels">CC Mastercard:</span>{{form.cc_mastercard}} {{form.cc_mastercard_deposited}}</p>
        <p><span class="labels">CC Visa:</span>{{form.cc_visa}} {{form.cc_visa_deposited}}</p>
        <p><span class="labels">CC Web:</span>{{form.web_cc}} {{form.web_cc_deposited}}</p>
      </div>

      <div class="col-md-4 input-container2">
        <p><span class="labels">EFT: </span>{{form.eft}} {{form.eft_deposited}}</p>
        <p><span class="labels">CareCredit: </span>{{form.care_credit}} {{form.care_credit_deposited}}</p>
        <p><span class="labels">Lending Club: </span>{{form.lending_club}} {{form.lending_club_deposited}}</p>
        <p><span class="labels">OrthoBanc: </span>{{form.orthobanc}} {{form.orthobanc_deposited}}</p>
        <p><span class="labels">Flips:</span> {{form.flips}} {{form.flips_deposited}}</p>
        <p><span class="labels">Greensky: </span>{{form.greensky}} {{form.greensky_deposited}}</p>
        <p><span class="labels">Text to Pay: </span>{{form.text2pay}} {{form.text2pay_deposited}}</p>
        <p><span class="labels">Other: </span>{{form.other}} {{form.other_deposited}}</p>
        <p class="refund-note"><span class="labels">Refunds: Must be processed by Accounting</span></p>
        <br>
        <br>
      </div>

    </div>

    <div class="container-fluid">
      <div class="row text-center">

        <div class="col-md-12">
          <p class="TDC">Total Daily Collections: {{form.total_daily_collections}}</p>
          <p>Notes: </p>
          <p>{{form.note}}</p>
          <br>
          <br>
          <button class="btn btn-primary btn-lg" name="submit">Save</button>

          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
<div class="accounting">





  <a class='email-link' href="{%url 'eods:email_lead' office.id leadsheet.id%}">Email the office</a>

  <br>
  <br>

  {% if leadsheet.email_sent %}
  <p>An email has been sent to the office to notify a change has been made to this leadsheet.</p>
  {%else%}
  <p>No email has been sent in regards to changes made by accounting</p>
  <br>
  {% endif %}

  {%else%}
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12" style="margin-top: 60px;">
        <h3>You do not have access to edit leadsheets.</h3>
        <p>Please contact accounting to make changes.</p>
        <a class="back-link" href="{% url 'eods:view_lead' office.id%}">Go Back</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<script>

  let totalCollection = document.getElementById('id_total_daily_collections');


  function calc() {
    let total = 0;
    let cash = document.getElementById('id_cash').value;
    let elecChk = document.getElementById('id_electronic_checks').value;
    let pncDeposit = document.getElementById('id_pnc_deposit').value
    let checks = document.getElementById('id_checks').value
    let amex = document.getElementById('id_cc_amex').value
    let discover = document.getElementById('id_cc_discover').value
    let mc = document.getElementById('id_cc_mastercard').value
    let visa = document.getElementById('id_cc_visa').value
    let webCC = document.getElementById('id_web_cc').value
    let eft = document.getElementById('id_eft').value
    let careCredit = document.getElementById('id_care_credit').value
    let lendClub = document.getElementById('id_lending_club').value
    let ortho = document.getElementById('id_orthobanc').value
    let flips = document.getElementById('id_flips').value
    let greensky = document.getElementById('id_greensky').value
    let t2p = document.getElementById('id_text2pay').value
    let other = document.getElementById('id_other').value

    let money = [cash, elecChk, pncDeposit, checks, amex, discover, mc, visa, webCC, eft, careCredit, lendClub, ortho, flips, greensky, t2p, other]

    for (let val of money) {
      total += parseFloat(val)
    }

    totalCollection.value = parseFloat(total);

  }
</script>

{% endblock content %}