{% extends 'eods/base.html' %} {% block header %} {% load humanizelib %}

<style>
  th {
    background-color: #ceccccf8;

  }

  .sticky th {
    position: sticky;
    top: -1px;
    border: 1px solid black;
    z-index: 10;
  }

  tr,
  th,
  td {
    border: 1px solid black;
    padding: 5px;
  }

  tr:hover {
    background-color: rgb(250, 238, 221);

  }
</style>


<div class="container-index">

  <h2>Select An Office:</h2>

  <select name="do" id="do" onchange="location = this.value">
    <option value="">Click to see offices</option>
    {% for office in offices %}
    <option value="{% url 'eods:option' office.id %}"><a class="offices">{{office}}</a></option>
    {% endfor %}
  </select>
</div>

{% if request.user.is_admin %}
<div class="download">
  <a href="{% url 'eods:csv_download' %}">Download Data</a>
</div>
<table class="totals-table">
  <tr class="sticky">
    <th>Office</th>
    {% for day in days %}
    <th>{{day}}</th>
    {% endfor %}
  </tr>


  {% for info in info_lst %}
  <tr id="data-rows">
    <td class="name"><a href="{% url 'eods:option' info.name.id %}">{{info.name}}</a></td>
    {% if info.yesterday or info.yesterday == 0 %}
    <td class="yesterday">${{info.yesterday|intcomma}}</td>
    {% else %}
    <td class="na yesterday">N/A</td>
    {%endif%}
    {% if info.two_days or info.two_days == 0 %}
    <td class="two_days">${{info.two_days|intcomma}}</td>
    {% else %}
    <td class="na two_days">N/A</td>
    {%endif%}
    {% if info.three_days or info.three_days == 0 %}
    <td class="three_days">${{info.three_days|intcomma}}</td>
    {% else %}
    <td class="na three_days">N/A</td>
    {%endif%}
    {% if info.four_days or info.four_days == 0 %}
    <td class="four_days">${{info.four_days|intcomma}}</td>
    {% else %}
    <td class="na four_days">N/A</td>
    {%endif%}
    {% if info.five_days or info.five_days == 0 %}
    <td class="five_days">${{info.five_days|intcomma}}</td>
    {% else %}
    <td class="na five_days">N/A</td>
    {%endif%}
    {% if info.six_days or info.six_days == 0 %}
    <td class="six_days">${{info.six_days|intcomma}}</td>
    {% else %}
    <td class="na six_days">N/A</td>
    {%endif%}
    {% if info.seven_days or info.seven_days == 0 %}
    <td class="seven_days">${{info.seven_days|intcomma}}</td>
    {% else %}
    <td class="na seven_days">N/A</td>
    {%endif%}
    {% if info.eight_days or info.eight_days == 0 %}
    <td class="eight_days">${{info.eight_days|intcomma}}</td>
    {% else %}
    <td class="na eight_days">N/A</td>
    {%endif%}
    {% if info.nine_days or info.nine_days == 0 %}
    <td class="nine_days">${{info.nine_days|intcomma}}</td>
    {% else %}
    <td class="na nine_days">N/A</td>
    {%endif%}
    {% if info.ten_days or info.ten_days == 0 %}
    <td class="ten_days">${{info.ten_days|intcomma}}</td>
    {% else %}
    <td class="na ten_days">N/A</td>
    {%endif%}

    <!-- <td>{{office.leadsheet_set.all.last.total}}</td> -->

  </tr>
  {% endfor %}
  <tr>
    <td><strong> Totals:</strong></td>
    <td style="color: red;"><strong>${{total_yesterday|intcomma}}</strong></td>
    <td style="color: red;"><strong>${{total_two_days|intcomma}}</strong></td>
    <td style="color: red;"><strong>${{total_three_days|intcomma}}</strong></td>
    <td style="color: red;"><strong>${{total_four_days|intcomma}}</strong></td>
    <td style="color: red;"><strong>${{total_five_days|intcomma}}</strong></td>
    <td style="color: red;"><strong>${{total_six_days|intcomma}}</strong></td>
    <td style="color: red;"><strong>${{total_seven_days|intcomma}}</strong></td>
    <td style="color: red;"><strong>${{total_eight_days|intcomma}}</strong></td>
    <td style="color: red;"><strong>${{total_nine_days|intcomma}}</strong></td>
    <td style="color: red;"><strong>${{total_ten_days|intcomma}}</strong></td>
  </tr>
</table>

{%endif%}

<br>
<br>
<br>






{% endblock header %}